h1{font-family: 'Times New Roman', Times, serif;
text-align: center;}
#banner{background-color: antiquewhite;
text-align: center;}
#par2{color: red;}


#span1{font-weight: bold;}
header{text-align: center;}

.elenco{line-height: 1cm;}


body{margin-left: 3cm;
margin-right: 3cm;}
#div2{outline: 1cm;}